<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="assets/ico/favicon.ico">
      <title>INSTANT - Bootstrap Theme</title>
      <!-- Bootstrap core CSS -->
      <link href="assets/css/bootstrap.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="assets/css/font-awesome.min.css" rel="stylesheet">
      <link href="assets/css/style.css" rel="stylesheet">
      <!-- Just for debugging purposes. Don't actually copy this line! -->
      <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">FootFIELD</a>
            </div>
            <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="javascript: document.logoutForm.submit()" >Главное</a></li>



                  <a href="javascript: document.logoutForm.submit()" > Logout Link </a>

                  <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                     <input hidden type="submit" value="Logout"/>
                  </form>




                  <li class="dropdown"><a href="#">Стадион</a>
                     <div class="dropdown-content left">
                        <a href="futbolistan.html">ФУТБОЛИСТАН</a>
                        <a href="kgsport.html">KG Sport</a>
                        <a href="alga.html">АЛГА</a>
                     </div>


                  <li><a href="#" data-toggle="modal" data-target="#register">Вход/регистрация</a></li>
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </div>
      <div id="ge">
        
      </div>
      <!--<section id="works"></section>-->
      <div class="container">
         <div class="col-md-8 col-xs-12 col-sm-12 mt col_">
            <div class="col-md-12 carouseled">
               <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                     <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                     <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                     <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                     <div class="item">
                        <img src="assets/img/portfolio/folio07.jpeg" alt="...">
                        <div class="carousel-caption">
                          
                        </div>
                     </div>
                     <div class="item active">
                        <img src="assets/img/portfolio/flio2.jpg" alt="...">
                        <div class="carousel-caption">
                           
                        </div>
                     </div>
                     <div class="item">
                        <img src="assets/img/portfolio/flio2.jpg" alt="...">
                        <div class="carousel-caption">

                        </div>
                     </div>
                  </div>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
               </div>
            </div>
            <div class="col-md-12  mb" style="padding: 0;">
               <div class="tarifes-block">
               <div class="tarifes-header-block block-header-green2"  style="color: blue; font-weight: bold; ">ПОЛЕ КG SPORTа</div>
               <div class="contains_block" style="display: flow-root;">
                  
                   <div class="col-lg-6 col-md-6 col-sm-6 gallery">
                  <img src="assets/img/sport4.jpg" class="img-responsive full-width">
                  <p class="mt-5">
                     #1 футбольное поле 
                  </p>
                  <div class="description">
                     <div class="sect"><i class="fa fa-dollar"></i> <span class="inf">от 1600 сом/час </span> </div>
                     <div class="sect"><i class="fa fa-futbol-o"></i> <span class="inf">небольшое</span> </div>
                     <div class="sect"><i class="fa fa-gear"></i> <span class="inf">Закрытоя поля (ПОКРЫТЫЙ) </span> 
                     </div>
                  </div>
                  <a class="pull-right btn btn-success mt-5 call-book-modal" data-toggle="modal" data-target="#booking">Забронировать</a>
               </div>
                <div class="col-lg-6 col-md-6 col-sm-6 gallery">
                  <img src="assets/img/sport.jpg" class="img-responsive full-width">
                  <p class="mt-5">
                     #2 футбольное поле
                  </p>
                  <div class="description">
                     <div class="sect"><i class="fa fa-dollar"></i> <span class="inf">от 1600 сом/час</span> </div>
                     <div class="sect"><i class="fa fa-futbol-o"></i> <span class="inf">небольшое</span> </div>
                     <div class="sect"><i class="fa fa-gear"></i> <span class="inf">закрытая поля (ПОКРЫТЫЙ)</span> 
                     </div>
                  </div>
                  <a class="pull-right btn btn-success mt-5 call-book-modal" data-toggle="modal" data-target="#booking">Забронировать</a>
               </div>
                <div class="col-lg-6 col-md-6 col-sm-6 gallery">
                 
                 
                  
               </div>
               </div>
            </div>
               
            </div>
            <div class="clrfx"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 tarifes-block">
               <div class="tarifes-header tarifes-header1">БУДНИЕ ДНИ(ПН-ПТ)</div>
               <div class="contains_">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                     <div class="time_">10:00 - 16:00</div>
                     <div class="price_">2 000 сом/час</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                     <div class="time_">16:00 - 19:00</div>
                     <div class="price_">3 500 сом/час</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                     <div class="time_">19:00 - 23:30</div>
                     <div class="price_">4 200 сом/час</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                     <div class="time_">23:30 - 10:00</div>
                     <div class="price_">1 500 сом/час</div>
                  </div>
               </div>
               <!--
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                     <div class="time_"></div>
                     <div class="price_"></div>
                  </div>
                  -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 tarifes-block">
               <div class="tarifes-header tarifes-header2">ВЫХОДНЫЕ И ПРАЗДНИКИ</div>
               <div class="contains_">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                     <div class="time_">10:00 - 16:00</div>
                     <div class="price_">3 000 сом/час</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                     <div class="time_">16:00 - 19:00</div>
                     <div class="price_">4 500 сом/час</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                     <div class="time_">19:00 - 23:30</div>
                     <div class="price_">5 200 сом/час</div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                     <div class="time_">23:30 - 10:00</div>
                     <div class="price_">2 500 сом/час</div>
                  </div>
               </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 tarifes-block rent mb">
               <div class="row" style="background: #121c2a; margin: 5px -10px; padding: 6px;">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                     <i class="fa fa-futbol-o ball"></i>
                     <div class="rented-text"> Аренда мяча - от 300сом </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 renting">
                     <i class="fa fa-futbol-o ball"></i>
                     <div class="rented-text"> Судья - 1000 сом/час</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-xs-12 col-sm-12 mt clrfx">
            <div class="tarifes-block">
               <div class="tarifes-header-block block-header-green">Профиль</div>
               <div class="contains_block">
                  <span class="col-md-4 col-xs-5 col-sm-4 col-lg-4">
                  <img src="assets/img/portfolio/user.png" class="img_mini_profile">
                  </span>
                  <span class="col-md-8 col-xs-7 col-sm-8 col-lg-8 booked_info">
                     <div class="description">
                        <div class="sect"><i class="fa fa-user"></i> <a href="#"><span class="inf">Abdygany</span></a> </div>
                        <div class="sect"><i class="fa fa-tasks"></i> <a href=""><span class="inf">27 bookings</span></a> </div>
                        <div class="sect"><i class="fa fa-dollar"></i> <span class="inf">1654.2$</span> </div>
                     </div>
                  </span>
               </div>
            </div>
            <br>
            <div class="tarifes-block">
               <div class="tarifes-header-block block-header-blue">Забронированные поля/история</div>
               <div class="contains_block">
                  <div class="booked_history">
                     <div class="histories">
                        <span class="col-md-4 col-xs-5 col-sm-4 col-lg-4">
                        <img src="assets/img/portfolio/folio10.jpg" class="booked_img">
                        </span>
                        <span class="col-md-8 col-xs-7 col-sm-8 col-lg-8 booked_info">
                           <div class="description">
                              <div class="sect"><i class="fa fa-futbol-o"></i> <a href="#"><span class="inf">5-е поле/span></a> </div>
                              <div class="sect"><i class="fa fa-clock-o"></i> <span class="inf">29 Октябрь 2017 06:00:00ч(начинается после 04:00 часа</span> </div>
                              <div class="sect"><i class="fa fa-dollar"></i> <span class="inf">VIP</span> </div>
                           </div>
                        </span>
                     </div>
                     <div class="histories">
                        <span class="col-md-4 col-xs-5 col-sm-4 col-lg-4">
                        <img src="assets/img/portfolio/folio07.jpeg" class="booked_img">
                        </span>
                        <span class="col-md-8 col-xs-7 col-sm-8 col-lg-8 booked_info">
                           <div class="description">
                              <div class="sect"><i class="fa fa-futbol-o"></i> <a href="#"><span class="inf">1-е поле</span></a> </div>
                              <div class="sect"><i class="fa fa-clock-o"></i> <span class="inf">25 Октябрь 2017 13:05:00</span> </div>
                              <div class="sect"><i class="fa fa-dollar"></i> <span class="inf">15 000 сом (01:29ч)</span> </div>
                           </div>
                        </span>
                     </div>
                     <div class="histories">
                        <span class="col-md-4 col-xs-5 col-sm-4 col-lg-4">
                        <img src="assets/img/portfolio/folio10.jpg" class="booked_img">
                        </span>
                        <span class="col-md-8 col-xs-7 col-sm-8 col-lg-8 booked_info">
                           <div class="description">
                              <div class="sect"><i class="fa fa-futbol-o"></i> <a href="#"><span class="inf">3-е поле</span></a> </div>
                              <div class="sect"><i class="fa fa-clock-o"></i> <span class="inf">28 Октябрь 2017 18:15:00</span> </div>
                              <div class="sect"><i class="fa fa-dollar"></i> <span class="inf">30 000сом (04:10ч)</span> </div>
                           </div>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <br>
            <div class="tarifes-block">
               <div class="tarifes-header-block block-header-pink">Забронированные поля</div>
               <div class="contains_block">
                  <div class="booked_history">
                     <div class="histories">
                        <span class="col-md-4 col-xs-5 col-sm-4 col-lg-4">
                        <img src="assets/img/portfolio/folio07.jpeg" class="booked_img">
                        </span>
                        <span class="col-md-8 col-xs-7 col-sm-8 col-lg-8 booked_info">
                           <div class="description">
                              <div class="sect"><i class="fa fa-futbol-o"></i> <a href="#"><span class="inf">7-е поле</span></a> </div>
                              <div class="sect"><i class="fa fa-clock-o"></i> <span class="inf">11:30ч - 02:20ч</span> </div>
                              <div class="sect"><i class="fa fa-circle-o-notch"></i> <span class="inf">01:45</span> </div>
                              <div class="sect"><i class="fa fa-clock-o"></i> <span class="inf">Свободна будет через 01:05ч</span> </div>
                           </div>
                        </span>
                     </div>
                     <div class="histories">
                        <span class="col-md-4 col-xs-5 col-sm-4 col-lg-4">
                        <img src="assets/img/portfolio/folio07.jpeg" class="booked_img">
                        </span>
                        <span class="col-md-8 col-xs-7 col-sm-8 col-lg-8 booked_info">
                           <div class="description">
                              <div class="sect"><i class="fa fa-futbol-o"></i> <a href="#"><span class="inf">8-е поле</span></a> </div>
                              <div class="sect"><i class="fa fa-clock-o"></i> <span class="inf">11:00ч - 12:48ч</span> </div>
                              <div class="sect"><i class="fa fa-circle-o-notch"></i> <span class="inf">01:45</span> </div>
                              <div class="sect"><i class="fa fa-clock-o"></i> <span class="inf">Свободна будет через 5мин</span> </div>
                           </div>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <br>
            <div class="tarifes-block">
               <div class="tarifes-header-block block-header-green3">Незабронированные поля</div>
               <div class="contains_block">
                  <div class="booked_history">
                     <div class="histories">
                        <span class="col-md-4 col-xs-5 col-sm-4 col-lg-4">
                        <img src="assets/img/portfolio/folio07.jpeg" class="booked_img">
                        </span>
                        <span class="col-md-8 col-xs-7 col-sm-8 col-lg-8 booked_info">
                           <div class="description">
                              <div class="sect"><i class="fa fa-futbol-o"></i> <a href="#"><span class="inf">2-е поле</span></a> </div>
                              <div class="sect"><i class="fa fa-clock-o"></i> <span class="inf">Нет заказа до 12ч</span> </div>
                              <div class="sect"><i class="fa fa-dollar"></i> <span class="inf">1000 сом/час</span> </div>
                           </div>
                        </span>
                     </div>
                     <div class="histories">
                        <span class="col-md-4 col-xs-5 col-sm-4 col-lg-4">
                        <img src="assets/img/portfolio/folio07.jpeg" class="booked_img">
                        </span>
                        <span class="col-md-8 col-xs-7 col-sm-8 col-lg-8 booked_info">
                           <div class="description">
                              <div class="sect"><i class="fa fa-futbol-o"></i> <a href="#"><span class="inf">4-е поле</span></a> </div>
                              <div class="sect"><i class="fa fa-clock-o"></i> <span class="inf">Свободна до 02:00</span> </div>
                              <div class="sect"><i class="fa fa-dollar"></i> <span class="inf">2500 сом/час</span> </div>
                           </div>
                        </span>
                     </div>
                     <div class="histories">
                        <span class="col-md-4 col-xs-5 col-sm-4 col-lg-4">
                        <img src="assets/img/portfolio/folio07.jpeg" class="booked_img">
                        </span>
                        <span class="col-md-8 col-xs-7 col-sm-8 col-lg-8 booked_info">
                           <div class="description">
                              <div class="sect"><i class="fa fa-futbol-o"></i> <a href="#"><span class="inf">7-е поле</span></a> </div>
                              <div class="sect"><i class="fa fa-clock-o"></i> <span class="inf">Свободна до 01:00ч (21 Октябрь)</span> </div>
                              <div class="sect"><i class="fa fa-dollar"></i> <span class="inf">1500 сом/час</span> </div>
                           </div>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="footerwrap">
         <div class="container">
            <div class="row centered">
               <div class="col-lg-2">
                  <p><b>FootFIELD</b></p>
               </div>
               <div class="col-lg-4">
                  <p>Футбольное поле Inc. офис, улица.Московская 168/2, 720021, Бишкек, Кыргыз Республикасы. </p>
               </div>
               <div class="col-lg-3">
                  <p>support@footfield.kg</p>
               </div>
               <div class="col-lg-3">
                  <div class="centered socials">
                     <div class="col-lg-2 col-sm-1 col-md-1 col-xs-1">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                     </div>
                     <div class="col-lg-2 col-sm-1 col-md-1 col-xs-1">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                     </div>
                     <div class="col-lg-2 col-sm-1 col-md-1 col-xs-1">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                     </div>
                     <div class="col-lg-2 col-sm-1 col-md-1 col-xs-1">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                     </div>
                     <div class="col-lg-2 col-sm-1 col-md-1 col-xs-1">
                        <a href="#"><i class="fa fa-tumblr"></i></a>
                     </div>
                     <div class="col-lg-2 col-sm-1 col-md-1 col-xs-1">
                        <a href="#"><i class="fa fa-odnoklassniki"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="register" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <ul class="nav nav-tabs final-login modal-title">
                     <li class="active"><a data-toggle="tab" href="#sectionA">Вход</a>
                     </li>
                     <li><a data-toggle="tab" href="#sectionB">Регистрация</a></li>
                  </ul>
               </div>
               <div class="modal-body">
                  <div class="tab-content">
                     <div id="sectionA" class="tab-pane fade in active">
                        <div class="innter-form">
                           <form class="sa-innate-form" method="post">
                              <label>Адрес почта</label>
                              <input type="text" name="username" required>
                              <label>Пароль</label>
                              <input type="password" name="password" required>
                              <div class="form-group">
                                 <div class=" col-sm-12">
                                    <div class="checkbox">
                                       <label><input type="checkbox">Запомнить</label>
                                    </div>
                                 </div>
                              </div>
                              <button type="submit"></button>
                           </form>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div id="sectionB" class="tab-pane fade">
                        <div class="innter-form">
                           <form class="sa-innate-form" method="post">
                              <label>Адрес почта</label>
                              <input type="email" name="username" required>
                              <label>Тел. номер</label>
                              <input type="text" name="tel" required>
                              <label>Имя</label>
                              <input type="text" name="surname">
                           
                              <label>Пароль</label>
                              <input type="password" name="password" required>
                              <label>Пароль(повтор)</label>
                              <input type="password" name="password2" required>
                              <button type="submit">Присоединяйся сейчас</button>
                              <p>Нажимая «Присоединиться», вы соглашаетесь с нашей правилой.</p>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--modal end-->

      <!-- Modal -->
      <div class="modal fade" id="booking" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <button id="back-rent" style="display: none;"><i class="fa fa-arrow-left"></i></button> <span id="modalBookingTitle"></span>

               </div>
               <div class="modal-body" style="padding:0; margin-top: -1px;">
                  <div class="tab-content modal-background">
                     <div id="booking_section1" style="display: block;">
                     <img src="" id="modalBookingImage" alt="..." class="img-responsive full-width">
                     <div class="choose-date">
                        Выберите дату

                     </div>
                     <div class="date-choosing">
                        <div class="date-choosing-day">
                           <div class="date-choosing-day-name">
                              Пн
                           </div>
                           <button data-weekend="false" data-date="27" class="date-choosing-day-number date-active">
                              27
                           </button>
                        </div>
                        <div class="date-choosing-day">
                           <div class="date-choosing-day-name">
                              Вт
                           </div>
                           <button data-weekend="false" data-date="28" class="date-choosing-day-number date-active">
                              28
                           </button>
                        </div>
                        <div class="date-choosing-day">
                           <div class="date-choosing-day-name">
                              Ср
                           </div>
                           <button data-weekend="false" data-date="29" class="date-choosing-day-number date-active">
                              29
                           </button>
                        </div>
                        <div class="date-choosing-day">
                           <div class="date-choosing-day-name">
                              Чт
                           </div>
                           <button  data-weekend="false" data-date="30" class="date-choosing-day-number date-active">
                              30
                           </button>
                        </div>
                        <div class="date-choosing-day">
                           <div class="date-choosing-day-name">
                              Пт
                           </div>
                           <button data-weekend="false" data-date="1" class="date-choosing-day-number date-active">
                              1
                           </button>
                        </div>
                        <div class="date-choosing-day">
                           <div class="date-choosing-day-name">
                              Сб
                           </div>
                           <button  data-weekend="true" data-date="2" class="date-choosing-day-number date-active">
                              2
                           </button>
                        </div>
                        <div class="date-choosing-day">
                           <div class="date-choosing-day-name">
                              Вс
                           </div>
                           <button  data-weekend="true" data-date="3" class="date-choosing-day-number date-active">
                              3
                           </button>
                        </div>
                     </div>
                     </div>
                     <div id="booking_section2" style="display: none;">
                        <div class="time-booking-times">

                     </div>
                     <div class="date-choosing" style="height: 59px; color: #6d9083;     font-size: 11px;">
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                           С <span id="rent_from">__</span> до <span id="rent_to">__</span> (<span id="rent_comm">__</span>)<span id="rent_on">__</span>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                           Сумма: <span id="rent_price">0</span>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3" style="margin-top: -8px;">
                           <button class="btn btn-success">Забронировать</button>
                        </div>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--modal end-->
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script type="text/javascript">
         $(document).ready(function() {
          var today = '7';
          var times = [
              ["00:00", "00:30", "01:00", "01:30", "02:00", "02:30", "03:00", "03:30", "04:00", "04:30"],
              ["05:00", "05:30", "06:00", "06:30", "07:00", "07:30", "08:00", "08:30", "09:00", "09:30"],
              ["10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30"],
              ["15:00", "15:30", "16:00", "16:30", "17:00", "17:30", "18:00", "18:30", "19:00", "19:30"],
              ["20:00", "20:30", "21:00", "21:30", "22:00", "22:30", "23:00", "23:30"]
          ];
          var allTimes = ["00:00", "00:30", "01:00", "01:30", "02:00", "02:30", "03:00", "03:30", "04:00", "04:30", "05:00", "05:30", "06:00", "06:30", "07:00", "07:30", "08:00", "08:30", "09:00", "09:30", "10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", "16:00", "16:30", "17:00", "17:30", "18:00", "18:30", "19:00", "19:30", "20:00", "20:30", "21:00", "21:30", "22:00", "22:30", "23:00", "23:30"];
          var rentedTimes = {
              '7': ["22:00"],
              '8': ["21:00", "21:30", "22:00"]
          };
          var pricesWeekDays = {
              '00:00-15:30': 270,
              '15:30-22:30': 470,
              '22:30-00:00': 170
          };
          var pricesWeekends = {
              '00:00-15:30': 370,
              '15:30-22:30': 570,
              '22:30-00:00': 270
          };
          var selectedTimes = [];
          var isWeekend;
          var choosenDay;
          var thisMonth = 'November';
         $('.call-book-modal').click(function(){

               $('#modalBookingTitle').html($(this).parent().children('p.mt-5').text());
               $('#modalBookingImage').attr('src', $(this).parent().children('img').attr('src'));

            });
          function reloadListeners() {
              $('button.time-booking-row:not(.rented-already)').on('click', function() {
                  var timeCrr = $(this).data('time');
                  console.log("sfdf");
                  if (!$(this).data('is-selected')) {
      
      
                      if (selectedTimes.length == 0) {
                          $(this).addClass('timed-active');
                          $(this).data('is-selected', true);
                          $(this).removeClass('timed-hover');
                          selectedTimes.push(timeCrr);
                      } else {
                          var indexed = allTimes.indexOf(timeCrr);
                          if (indexed == 0) {
                              if (selectedTimes.indexOf(allTimes[allTimes.length - 1]) != -1 || selectedTimes.indexOf(allTimes[indexed - 1]) != -1 || selectedTimes.indexOf(allTimes[indexed + 1]) != -1) {
                                  $(this).addClass('timed-active');
                                  $(this).data('is-selected', true);
                                  $(this).removeClass('timed-hover');
                                  selectedTimes.push(timeCrr);
                              }
                          } else if (indexed == allTimes.length - 1) {
                              if (selectedTimes.indexOf(allTimes[0]) != -1 || selectedTimes.indexOf(allTimes[indexed - 1]) != -1 || selectedTimes.indexOf(allTimes[indexed + 1]) != -1) {
                                  $(this).addClass('timed-active');
                                  $(this).data('is-selected', true);
                                  $(this).removeClass('timed-hover');
                                  selectedTimes.push(timeCrr);
                              }
                          } else {
                              if (selectedTimes.indexOf(allTimes[indexed - 1]) != -1 || selectedTimes.indexOf(allTimes[indexed + 1]) != -1) {
                                  $(this).addClass('timed-active');
                                  $(this).data('is-selected', true);
                                  $(this).removeClass('timed-hover');
                                  selectedTimes.push(timeCrr);
                              }
                          }
                      }

                  } else {

                      $(this).removeClass('timed-active');
                      $(this).data('is-selected', false);
                      $(this).trigger('mouseleave');
                      //console.log(selectedTimes.indexOf(timeCrr));
                      selectedTimes.splice(selectedTimes.indexOf(timeCrr), 1);
                  }
                  //console.log(selectedTimes);
                   var maxVal = {
                  'num': 0,
                  'val': '00:00'
              };
              var minVal = {
                  'num': 1440,
                  'val': '23:30'
              };
              for (var i = 0; i < selectedTimes.length; i++) {
                  console.log(selectedTimes[i]);
                  var maxTime = selectedTimes[i].split(":");
                  var maxMin = ((+maxTime[0]) * 60) + (+maxTime[1]);
                  if (maxMin > maxVal['num']) {
                      maxVal['num'] = maxMin;
                      maxVal['val'] = selectedTimes[i];
                  }
                  if (maxMin < minVal['num']) {
                      minVal['num'] = maxMin;
                      minVal['val'] = selectedTimes[i];
                  }
              }
              var isContinue = true;
              var brokenTime;
              for (var i = allTimes.indexOf(minVal['val']); i <= allTimes.indexOf(maxVal['val']); i++) {
                  if (selectedTimes.indexOf(allTimes[i]) == -1) {
                      isContinue = false;
                      break;
                  }
                  //console.log(allTimes[i]);
              }
              if (!isContinue) {
                  var firstQuartile = ['', ''];
                  var secondQuartile = ['', ''];
                  var isFoundFirstQ = false;
                  for (var i = 0; i < allTimes.length; i++) {
                      if (selectedTimes.indexOf(allTimes[i]) > -1) {
                          if (firstQuartile[0] == '' && !isFoundFirstQ) {
                              firstQuartile[0] = allTimes[i];
                          }
                          if (secondQuartile[0] == '' && isFoundFirstQ) {
                              secondQuartile[0] = allTimes[i];
                          }
                          if (i == allTimes.length - 1 && secondQuartile[1] == '' && isFoundFirstQ) {
                              secondQuartile[1] = allTimes[i];
                          }
                      } else {
                          if (firstQuartile[1] == '' && !isFoundFirstQ) {
                              firstQuartile[1] = allTimes[i - 1];
                              isFoundFirstQ = true;
                          }
      
                      }
                  }
                  $('#rent_from').html(secondQuartile[0]);

               if (allTimes.indexOf(firstQuartile[1]) != allTimes.length - 1 ) $('#rent_to').html(allTimes[allTimes.indexOf(firstQuartile[1]) + 1]);
               else $('#rent_to').html(allTimes[0]);

               $('#rent_on').html(choosenDay + " - " + ((+choosenDay) + 1) + " of " + thisMonth);
                  //console.log("anormal: fi: " + firstQuartile[0] + ", ff: " + firstQuartile[1] + " | si: " + secondQuartile[0] + ", sf: " + secondQuartile[1]);
              } else {
               $('#rent_from').html(minVal['val']);
               if (allTimes.indexOf(maxVal['val']) != allTimes.length - 1 ) $('#rent_to').html(allTimes[allTimes.indexOf(maxVal['val']) + 1]);
               else $('#rent_to').html(allTimes[0]);
               $('#rent_on').html(choosenDay + " " + thisMonth);
              }
              var summ = 0;
              for (var i = 0; i < selectedTimes.length; i++) {
               summ += (+$("#t" + selectedTimes[i].replace(':', '')).data('price'));
              }
              $('#rent_comm').html(selectedTimes.length * 0.5 + "ч.");
              $('#rent_price').html(summ + "som");
      
              });
              $('button.time-booking-row:not(.rented-already)').on('mouseover', function() {
                  if (!$(this).hasClass('timed-active')) {
                      $(this).addClass('timed-hover');
                  }
              });
              $('button.time-booking-row:not(.rented-already)').on('mouseleave', function() {
                  $(this).removeClass('timed-hover');
              });
          }

          
      
          $('button.date-choosing-day-number').click(function() {
      
              isWeekend = $(this).data('weekend');
              choosenDay = $(this).data('date');
              $('#booking_section1').hide();
              $('#booking_section2').show();
              $('#back-rent').show();
      
              var timesText = '';
      
              for (var i = 0; i < times.length; i++) {
                  timesText += '<div class="time-booking-col">';
                  for (var e = 0; e < times[i].length; e++) {
                      var isRented = false;
                      if (rentedTimes.hasOwnProperty(choosenDay)) {
                          if (rentedTimes[choosenDay].indexOf(times[i][e]) > -1) {
                              isRented = true;
                              console.log("contains");
                          }
                      }
                      var price = 0;
                      if (isWeekend) var prices = pricesWeekends;
                      else var prices = pricesWeekDays;
                      $.each(prices, function(index, value) {
                          var staringEndingTime = index.split("-");
                          var startingTime = staringEndingTime[0].split(":");
                          var startingTimeMinute = ((+startingTime[0]) * 60) + (+startingTime[1]);
                          var endingTime = staringEndingTime[1].split(":");
                          var endingTimeMinute = ((+endingTime[0]) * 60) + (+endingTime[1]);
                          if (endingTimeMinute == 0) {
                              endingTimeMinute = 1440;
                          }
                          var currentBookingTime = times[i][e].split(":");
                          var currentBookingTimeMinute = ((+currentBookingTime[0]) * 60) + (+currentBookingTime[1]);
                          if (startingTimeMinute <= currentBookingTimeMinute && currentBookingTimeMinute < endingTimeMinute) {
                              price = value;
                              return false;
                          }
      
                      });
                      timesText += '<button class="time-booking-row ' + (isRented ? "rented-already" : "") + '" id="t' + times[i][e].replace(':', '') + '" data-time="' + times[i][e] + '" data-is-rented="' + isRented + '" ' + (isRented ? "disabled" : "") + ' data-is-selected="false" data-price="' + price + '"><span>' + times[i][e] + '</span></button>';
                  }
                  timesText += '</div>';
              }
              $('.time-booking-times').html(timesText);
      
              $('button.time-booking-row:not(.rented-already)').off('mouseover', function() {});
              $('button.time-booking-row:not(.rented-already)').off('mouseleave', function() {});
              $('button.time-booking-row:not(.rented-already)').off('click', function() {});
              reloadListeners();
          });
          $('#back-rent').click(function() {
              selectedTimes = [];
              $('#booking_section1').show();
              $('#booking_section2').hide();
              $('#back-rent').hide();
          });

      });
      </script>
   </body>
</html>